@import '~@/components/base/VdControl';
@import '~@/components/index';

@keyframes float {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

$anime-index: 0;
@mixin anime-float {
  @include extend-atom('anime-float');
  animation-delay: 300ms + $anime-index * 200ms;
  $anime-index: $anime-index + 1 !global;
}
@mixin anime-reset {
  $anime-index: 0 !global;
}

@include comp('swimlane-wrapper') {
  min-height: 300vh;
  background-image: url('~@/assets/wrapper-background.svg');
  background-position: center center;
}

@include comp('h5') {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include elem('section') {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    > * {
      position: relative;
    }
  }

  @include elem('logo') {
    position: absolute;
    left: 2rem;
    bottom: 2rem;

    width: 10rem;
    height: 4rem;
    object-fit: contain;
  }

  @include elem('logo-donews') {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    width: 14.1rem;
    height: 2.9rem;
    object-fit: contain;
  }

  @include elem('background') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  @include elem('love') {
    position: absolute;
    width: 71.2%;
    height: auto;
    top: 20.84vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include elem('where') {
    position: absolute;
    top: 56.671vh;
    left: 0;
    right: 0;
    margin: 0 auto;

    font-size: 2.4rem;
    line-height: 2;
    text-align: center;
  }

  @include elem('indicator') {
    position: absolute;
    bottom: 6.4rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    padding: 0;

    background-color: transparent;
    border: none;
  }

  @include elem('indicator-icon') {
    width: 2.261rem;
    height: 4rem;
    object-fit: contain;
  }

  @include elem('work-background') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  @include elem('work-foreground') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  @include elem('work-logo') {
    position: absolute;
    top: 0.8rem;
    left: 1.6rem;

    width: 12rem;
    height: auto;
  }

  @include elem('tag') {
    position: absolute;
    top: 100vw;
    left: 1.6rem;
    transform: translateY(-100%);

    width: 5.844rem;
    height: 1.794rem;
    object-fit: contain;
  }

  @include elem('work-title') {
    position: absolute;
    top: 100vw;
    left: 1.6rem;
    padding: 0;
    margin: 0;

    font-size: 3.2rem;
    font-weight: bold;
    line-height: 2;
    color: $color-primary;
  }

  @include elem('work-description') {
    position: absolute;
    top: 100vw;
    left: 1.6rem;
    right: 1.6rem;
    padding: 0;
    margin: 0;

    transform: translateY(6.4rem);

    font-size: 1.4rem;
    line-height: 1.2;
    color: $color-thirdly;
  }

  @include elem('lastpage') {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  @include elem('learn-more') {
    position: absolute;
    bottom: 4.8rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 17.2rem;
    height: 5.6rem;

    font-size: 2rem;
    color: $color-foreground;
    background-color: $color-primary;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .#{class-comp('indicator')} {
    right: 1.2rem;
  }

  @include define-atom('anime-float-init') {
    opacity: 0;
    transform: translateY(10vh);
  }
  @include define-atom('anime-float') {
    animation: float 0.6s ease-out 1 normal forwards;
  }

  @include elem('section') {
    @include elem('love') {
      @include extend-atom('anime-float-init');
    }
    @include elem('where') {
      @include extend-atom('anime-float-init');
    }

    @include elem('work-background') {
      @include extend-atom('anime-float-init');
    }
    @include elem('work-foreground') {
      @include extend-atom('anime-float-init');
    }
    @include elem('work-logo') {
      @include extend-atom('anime-float-init');
    }

    @include elem('learn-more') {
      @include extend-atom('anime-float-init');
    }
  }

  @include elem('section') {
    @include when('selected') {
      @include anime-reset;
      @include elem('love') {
        @include anime-float;
      }
      @include elem('where') {
        @include anime-float;
      }

      @include anime-reset;
      @include elem('work-background') {
        @include anime-float;
      }
      @include elem('work-foreground') {
        @include anime-float;
      }
      @include elem('work-logo') {
        @include anime-float;
      }

      @include anime-reset;
      @include elem('learn-more') {
        @include anime-float;
      }
    }
  }
}
